.weblogo{
     height:100%;
     width:40%; 
     margin-bottom: 0px;
}
.headerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #64748b;
}

.unOL{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 0px;
    list-style-type: none;
    margin-top: 1%;
    margin-bottom: 0px;
 padding-bottom: 5px; 
  text-decoration: none;   
    
}
.linkElement{
   text-decoration: none;
    padding: 0px;
    margin: 0px;
}
li{
    margin-left: 10px;
    margin-right: 10px;
}
.button{
    height:30px;
    width:60px;
    background-color:  #4f46e5;
    border-radius: 10px;
    color:white;
    margin: 0px;
    cursor: pointer;
}